version: 2.1

jobs:
  build:
    docker:
      - image: cimg/node:lts
        auth: 
          username: adrienba
          password: $MYDOCKERHUB_PASSWORD
    steps:
      - checkout
      - restore_cache:
          keys:
            - npm-v1-dependencies-{{ checksum "yarn.lock" }}
            - npm-v1-dependencies
      - run: 
          name: "yarn install"
          command: yarn install 
      - save_cache:
          key: npm-v1-dependencies-{{ checksum "yarn.lock" }}
          paths:
              - node_modules
  yarnlint:
    docker:
      - image: cimg/node:lts
        auth: 
          username: adrienba
          password: $MYDOCKERHUB_PASSWORD
    steps:
      - run:
          name: "yarn lint"
          command: yarn lint
      - run:
          name: "yarn format:check"
          command: yarn format:check
  yarntestci:
    docker:
      - image: cimg/node:lts
        auth: 
          username: adrienba
          password: $MYDOCKERHUB_PASSWORD
    steps:
      - run:
          name: "yarn test:ci"
          command: yarn test:ci


workflows:
  build-test-and-deploy:
    jobs:
      - build
      - yarnlint:
          requires:
            - build
      - yarntestci:
          requires:
            - build
            - yarnlint